.App {
  background-color: #e5f0f7;
}

html {
  background-color: #e5f0f7;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiInputBase-input {
  background-color: white !important;
}

.cardTitle:hover {
  color: #f88888 !important;
  text-decoration: underline;
}
